@font-face {
	font-family: Mukta;
	src: url('../font/Mukta-Medium.ttf');
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	min-width: 360px;
	max-width: 1200px;
	margin: 0 auto;
	font-family: 'Mukta', sans-serif;
	display: flex;
	flex-direction: column;
	background-color: #dcdcde;
}
.first-section {
	width: 100%;
	color: white;
	text-transform: uppercase;
	text-align: center;
	background-image: url('../header_background.jpg');
	background-position: bottom;
	background-size: cover;
}
.text-gradient {
	color: #a21af0;
    background: linear-gradient(45deg, #ad1fff 0%, #ff0072 100%);
  	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
}
h1 {
	font-size: 4em;
	display: inline;
	line-height: 1em;
}
h2 {
	font-size: 2.4em;
}
.top-banner {
	width: 100%;
	padding: 20px;
	height: 500px;
	background-color: rgba(46, 49, 146, 0.4);
}
.top-banner p {
	font-size: 1.3em;
	margin: 40px;
	font-weight: 600;
}
button {
	color: white;
	font-size: 1.2em;
	border: none;
	padding: 10px;
	background: linear-gradient(45deg, #a21af0 0%, #ff0072 100%);
}
.about {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: white;
}
.about-section {
	margin-top: 10px;
	width: 300px;
	overflow: hidden;
	text-align: center;
	padding: 20px;
}
.about-section h3 {
	color: #a21af0;
	font-size: 1.2em;
	margin-bottom: 20px;
}
.about-section h2,h3 {
	text-transform: uppercase;
	font-weight: bold;
}
.about img {
	width: 100%;
}
.full-level {
	margin: 5% auto;
	width: 90%;
	height: 8px;
	border-radius: 4px;
	background-color: #ff0072;
}
.full-level div{
	height: 100%;
	border-radius: 5px;
	background-color: #a21af0;
}
.html-level {
	width: 92%;
}
.css-level {
	width: 74%;
}
.js-level {
	width: 83%;
}
.qa-level {
	width: 88%;
}
.design-level {
	width: 36%;
}
.our-services {
	text-align: center;
	margin: 10px 0;
}
.our-services-main {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.our-services-section {
	width: 300px;
	padding: 10px;
}
.our-services-section-circle {
	margin: 0 auto;
	width: 90px;
	height: 90px;
	border-radius: 50%;
	background: linear-gradient(45deg, #a21af0 0%, #ff0072 100%);
}
.our-services-section-circle span:before {
	line-height: 90px !important;
	font-size: 2em !important;
}
.my-projects {
	padding: 10px;
	text-align: center;
	background-color: white;
}
.project {
	max-width: 320px;
	margin: 0 auto;
}
footer {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.about-footer-section {
	width: 300px;
	padding: 10px;
	position: relative;
}
.about-footer-section-circle {
	top: 0;
	width: 70px;
	height: 70px;
	border-radius: 50%;
	background-color: #374362;
	position: absolute;
	top: 10px;
	display: inline-block;
}
.about-footer-section-right {
	padding-left: 90px;
}
.about-footer-section-tittle {
	font-size: 1.2em;
	text-transform: uppercase;
}
a {
	text-decoration: inherit;
	color: black;
	font-weight: 500;
}

@media (min-width: 610px) {
	.our-services-main {
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-around;
		align-items: flex-start;
	}
}
@media (min-width: 910px) {
	.about, footer {
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-around;
		align-items: flex-start;
	}
}