@font-face {
	font-family: Mukta;
	src: url('../font/Mukta-Medium.ttf');
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	min-width: 360px;
	max-width: 1600px;
	font-family: 'Mukta', sans-serif;
}
a {
	text-decoration: inherit;
	color: black;
	font-weight: 500;
}
.first-section {
	padding-top: 65px;
	width: 100%;
	color: white;
	text-transform: uppercase;
	text-align: center;
	background-image: url('../header_background.jpg');
	background-position: center;
}
.menu {
	padding: 20px;
	font-size: 1em;
	background-color: #15263e;
	position: fixed;
	width: 100%;
	top: 0;
}
.menu input {
	display: none;
}
.menu-title {
	font-size: 1.6em;
	font-weight: bold;
	display: block;
}
#menu-checker:checked ~ .menu-list {
	display: none;
}
.text-gradient {
	color: #a21af0;
    background: linear-gradient(45deg, #a21af0 0%, #ff0072 100%);
  	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
}
.menu li {
	list-style: none;
	padding: 10px;
}
.menu-list li:hover {
	background-color: #25364e;
}
.menu-list .closer {
	font-size: 0.8em;
	color: grey;
	display: block;
}
h1 {
	font-size: 5em;
	display: inline;
	line-height: 1em;
}
h2 {
	font-size: 2.6em;
}
.top-banner {
	width: 100%;
	padding: 20px;
	height: 500px;
	background-color: rgba(46, 49, 146, 0.4);
}
.top-banner p {
	margin: 40px;
	font-weight: 600;
}
button {
	color: white;
	font-size: 1.2em;
	border: none;
	padding: 10px;
	background: linear-gradient(45deg, #a21af0 0%, #ff0072 100%);
}
.about-section h3 {
	color: #a21af0;
	font-size: 1em;
	margin-bottom: 20px;
}
.about-section h2,h3 {
	text-transform: uppercase;
	font-weight: bold;
}
.about-section {
	margin: 0 auto;
	max-width: 310px;
	overflow: hidden;
	text-align: center;
	padding: 20px;
}
.about img {
	width: 100%;
}
.full-level {
	margin: 5% auto;
	width: 60%;
	height: 8px;
	border-radius: 4px;
	background-color: #ff0072;
}
.full-level div{
	height: 100%;
	border-radius: 5px;
	background-color: #a21af0;
}
.html-level {
	width: 92%;
}
.css-level {
	width: 74%;
}
.js-level {
	width: 83%;
}
.php-level {
	width: 37%;
}
.about footer {
	background-color: #dcdcde;
}
.about-footer-section-circle {
	margin: 5px auto;
	width: 70px;
	height: 70px;
	border-radius: 50%;
	background-color: #374362;
}
.about-footer-section {
	max-width: 320px;
	padding: 10px;
	margin: 0 auto;
	display: flex;
	justify-content: center;
}
.about-footer-section-right {
	padding-left: 20px;
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.about-footer-section-tittle {
	font-size: 1.2em;
	text-transform: uppercase;
	width: 100%;
}
.about-footer-section-content {
	width: 100%;
}
.our-services {
	text-align: center;
}
.our-services section {
	max-width: 320px;
	padding: 10px;
	margin: 0 auto;
}
.our-services-section-circle {
	margin: 0 auto;
	width: 90px;
	height: 90px;
	border-radius: 50%;
	background: linear-gradient(45deg, #a21af0 0%, #ff0072 100%);
}
.our-services-section-circle span:before {
	line-height: 90px !important;
	font-size: 2em !important;
}
.my-projects {
	background-color: #dcdcde;
	text-align: center;
}
.project {
	max-width: 320px;
	margin: 0 auto;
}